@font-face {
    font-family: 'bebas';
    src: url('/fonts/BEBAS___-webfont.woff');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size : 62.50%; 
    font-family: 'Roboto', sans-serif;
    cursor: url('/img/cursor.png'), default;
}

/*----CSS regroupés sur le Main-----*/
.Dflex{
    display: flex;
}
.flexPadLaR{
    display :flex;
    padding-left: 5rem;
    padding-right: 5rem;
}
.flexColumn {
    flex-direction: column;
}

.alignFlexCenter{
    align-items: center;
}

.justifyFlexCenter{
    justify-content: center;
}

.titresSection{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'bebas';
    margin-bottom: 4rem;
}

.w100{
    width: 100%;
}

.bgRed{
    background-color: #ea222d;
}

.txtWhite{
    color: white;
}

/*----CSS Header et Footer-----*/
.headerFooter{
    justify-content: space-between;
    height: 5rem;
}

/*----CSS Nav-liens-----*/
.navHF li{
    list-style: none;
    display: inline;
    margin: 0.5rem;
    font-size: 1.5rem;
}
.navH a:hover{
    border-top: 0.1rem solid white;
    border-bottom: 0.1rem solid white;
}
.navF a:hover{
    border-bottom: 0.2rem solid white;
}
a{
    text-decoration: none;
    color: white;
}
footer i{
    font-size: 3rem;
}
/*----CSS Marvel Header Span-----*/
#marvelHeader{
    font-size: 3.5rem;
    font-family: 'bebas';
}

H1{
    font-size: 2.5rem;
    font-family: 'bebas';
}

/*----CSS Section Bannière-----*/
.banniere h1{
    font-size: 4rem;
    color: #ea222d;
    background-color: white;
    box-shadow: 10px 6px 8px #555555;
    padding: 1rem;
}
.banniere p{
    font-size: 1.5rem;
    padding: 1.5rem;
    box-shadow: 10px 6px 8px #555555;
}
.banniere{
    height: 50vh;
    align-items: flex-start;
    background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.30) 100%), url('/img/texture.jpeg');
    background-size: cover;
}

/*----CSS Section Personnages-----*/
.personnages{
    align-items: flex-end;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.heros{
    height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 4rem;
}
.heros img, .heros h3, .heros p, .heros button{
    margin:1rem;
}

.heros img{
    width: 50%;
}

/*----CSS Bouttons-----*/
.btn{
    color: #ea222d;
    font-weight: bold;
    background-color: white;
    padding:1rem;
    border: 0.15rem solid #ea222d;
    border-radius: 0.5rem;
    box-shadow: #ea222d;
}
.btn:hover{
    background-color: #ea222d;
    color: white;
}

/*----CSS Section Adaptations et à venir-----*/
.bgVideo{
    position: relative;
}
.bgVideo video{
    width: 100%;
    height: inherit;
}

.bgGradient{
    background: linear-gradient(180deg, rgba(234,34,45,1) 0%, rgba(234,34,45,1) 34%, rgba(241,112,119,1) 63%, rgba(255,255,255,0.5886729691876751) 89%, rgba(255,255,255,0) 100%);
    position:absolute;
    top:0;
}
.adaptations{
    justify-content: space-around;
    padding-top: 5rem;
}
.avenir{
    font-size: 1.5rem;
    padding-top: 5rem;
}
.vid iframe{
    width:50%;
    height: 30%;
}

.vidItem{
    width: 40%;
    padding:1rem;
}
.videos{
    padding: 4rem;
}
.vidItem h5, .vidItem p{
    font-size: 1.3rem;
    padding:1rem;
    font-weight: bold;
}

/*----CSS Tableau-----*/
table{
    border-spacing : 0;
    border: 0.3rem solid #ea222d;
    width: 50%;
    table-layout : fixed ;
    text-align: center;
    background-color: white;
}
th{
    font-weight: bolder;
}
thead th{
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0.5rem;
}
td{
    border: none;
    padding: 0.5rem;
}

/*----CSS Formulaire et Map-----*/
.contactMap{
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.formulaire{
    width: 75%;
}
.inputs{
    padding: 0.5rem;
    margin:0.5rem;
}
input, select, textarea{
    padding:0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid grey;
}
label{
    font-weight: bold;
    font-size: 1.4rem;
}
.map iframe{
    width:75%;
    height: 100%;
}